body {
    background-color: black;
}

section {
    width: 1024px;
    height: 768;
    position: relative;
    margin: auto;
    margin-top: 30px;
    background-color: white;
}


.marco {
    position: relative;
    margin: auto;
}

.nivel {
    width: 925px;
    height: 441px;
    bottom: 299px;
    left: 48px;
    @include posicion(10);
    background-color: silver;
}

.textines {
    background-color: black;
    @include posicion(12);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    bottom: 320px;
}

.letras {
    color: white;
    text-align: center;
    font-size: 20px;
    z-index: 11;
}

.objetoa {
    bottom: 500px;
    left: 150px;
    @include posicion(10);
}

.objetob {
    bottom: 500px;
    left: 220px;
    @include posicion(10);
}

.objetoc {
    bottom: 500px;
    left: 300px;
    @include posicion(10);
}

.objetod {
    bottom: 500px;
    left: 400px;
    @include posicion(10);
}

.objetoe {
    bottom: 300px;
    left: 400px;
    @include posicion(10);
}

.objetof {
    bottom: 300px;
    left: 150px;
    @include posicion(10);
}

.objetog {
    bottom: 300px;
    left: 220px;
    @include posicion(10);
}

.objetoh {
    bottom: 300px;
    left: 300px;
    @include posicion(10);
}


.objetollave {
    bottom: 155px;
    left: 420px;
    @include posicion(10);
}

.objetocofre {
    bottom: 80px;
    left: 350px;
    @include posicion(10);
}

.objetocofrea{
    bottom: 80px;
    left: 350px;
    @include posicion(10);
}

.objetopuerta{
    bottom: 39px;
    left: 440px;
    @include posicion(10);
}

.objetopuertaa{
    bottom: 15px;
    left: 440px;
    @include posicion(10);
}

@import "_botones.scss"
@import "_inventario.scss"
